{{- $copyright := . -}}
<div class="footer-wrap">
    <p class="copyright">{{- $copyright -}}</p>
    <p class="powerby"><span>Powered by </span><a href="https://gohugo.io" target="_blank">Hugo</a></p>
</div>