<nav class="p-2 flex justify-center align-center">
    <div class="text-center w-full">
        <a class="mb-2" href="{{.Site.BaseURL}}">
            <h1 class="text-3xl font-bold leading-tight text-gray-900">{{ .Site.Title }}</h1>
        </a>
        <div class="w-full">
            <div class="hidden sm:block md:ml-10 md:pr-4 mt-2 space-x-6">
                <a href="{{.Site.BaseURL}}/posts/maths/1"
                   class="link-button">
                    Maths Year 1
                </a>
                <a href="{{.Site.BaseURL}}/posts/maths/2"
                   class="link-button">
                    Maths Year 2
                </a>
                <a href="{{.Site.BaseURL}}/posts/media"
                   class="link-button">Media Studies</a>
                <a href="{{.Site.BaseURL}}/posts/cs"
                   class="link-button">
                    Computer Science
                </a>
            </div>
            <div class="block sm:hidden md:ml-10 md:pr-4 mt-2 w-full">
                <button class="link-button w-full" onclick="document.getElementById('mobile-menu').classList.toggle('hidden')">
                    Menu
                </button>
            </div>
            <div class="hidden mt-2 w-full" id="mobile-menu">
                <div class="flex flex-col space-y-2 w-full">
                    <a href="{{.Site.BaseURL}}/posts/maths/1"
                       class="link-button">
                        Maths Year 1
                    </a>
                    <a href="{{.Site.BaseURL}}/posts/maths/2"
                       class="link-button">
                        Maths Year 2
                    </a>
                    <a href="{{.Site.BaseURL}}/posts/media"
                       class="link-button">Media Studies</a>
                    <a href="{{.Site.BaseURL}}/posts/cs"
                       class="link-button">
                        Computer Science
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>