<div class="flex justify-center items-center">
    <div class="pagination mt-4">
        {{ if .Paginator.HasPrev }}
        <a class="link-button" href="{{ .Paginator.Prev.URL }}">&lt;</a>
        {{ end }}
        <span>{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
        {{ if .Paginator.HasNext }}
        <a class="link-button" href="{{ .Paginator.Next.URL }}">&gt;</a>
        {{ end }}
    </div>
</div>