{{ define "main" }}
<main class="p-4">
    {{ .Content }}
    <h2 class="text-4xl font-display text-center">Posts</h2>
    {{ $paginator := .Paginator }}

    <div class="flex">
        <div class="lg:w-1/4"></div>
        <div class="w-full space-y-4">
            {{ range $paginator.Pages }}
            {{ .Render "summary" }}
            {{ end }}
        </div>
        <div class="lg:w-1/4"></div>
    </div>

    {{ partial "pagination.html" . }}
</main>
{{ end }}