<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}
<body class="bg-gray-100 dark:bg-gray-800 dark:text-gray-100">

<!--<div id="content">-->
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
    {{- partial "footer.html" . -}}
<!--</div>-->

</body>
</html>
