{{- define "main" -}}
<main class="p-4">
    <h2 class="text-4xl font-display text-center">{{if .Title}}{{.Title}}{{else}}Posts{{end}}</h2>
    <div class="text-center">
        {{ .Content }}
    </div>
    <br/>

    {{ $paginator := .Paginator }}

    <div class="flex">
        <div class="lg:w-1/4"></div>
        <div class="w-full space-y-4">
            {{ range $paginator.Pages }}
            {{ .Render "summary" }}
            {{ end }}
        </div>
        <div class="lg:w-1/4"></div>
    </div>

    {{ partial "pagination.html" . }}
</main>
{{- end -}}