{{ define "main" }}
<main class="flex justify-center my-8">
    <article class="prose dark:prose-dark">
        <h1 class="font-display text-center">{{ .Title }}</h1>
        <div class="page-content">
            {{ .Content }}
        </div>
        <div>
            {{ range .Params.tags }}
            <a class="link-button" style="text-decoration: none !important;" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    </article>
</main>
{{ end }}