<article class="border-gray-200 border-t-2 border-b-2 p-2">
    <h1>
        <a class="font-display text-3xl font-bold" href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
    {{ if .Date }}
    <time class="font-mono">{{ .Date.Format "2006-01-02 15:04" }}</time>
    <br/>
    {{ end }}

    {{ if .Description }}
    <div>
        {{ .Description }}
        <br/>
        <a href="{{ .Permalink }}">Read more...</a>
    </div>
    <br/>
    {{ end }}

    {{ if .Params.Tags }}
    <div class="">
        {{ range .Params.tags }}
        <a class="link-button" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
</article>