{{ define "main" }}
<main>
    {{ if or .Title .Content }}
    <div>
        {{ with .Title }}<h2 class="text-4xl font-display text-center">{{ . }}</h2>{{ end }}
        {{ with .Content }}
        <div>{{ . }}</div>
        {{ end }}
    </div>
    {{ end }}

    <div class="flex">
        <div class="lg:w-1/4"></div>
        <div class="w-full space-y-4">
            {{ range .Paginator.Pages }}
            {{ .Render "summary" }}
            {{ end }}
        </div>
        <div class="lg:w-1/4"></div>
    </div>

    {{ partial "pagination.html" . }}
</main>
{{ end }}